header {
    background-color: rgba(0,0,0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

header .contenido-header {
    max-width: 1100;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .contenido-header img {
    text-align: center;
    width: 150px;
}

header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header .contenido-header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

header .contenido-header nav ul a:hover{
    color: darkmagenta;
}

header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

header .contenido-header .redes a:hover {
    color: darkmagenta;
}

#desafio{
    background-color: #fcdc00;
    width: 100%;
    padding: 100px 0;
    margin: auto;

}

#desafio .titulo-desafio{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111235;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#desafio .fila{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

}
#desafio .fila .proyecto{
    max-width: 350;
    border: 1px solid #000;
    margin: 0 30px;
    position: relative;
    overflow: hidden;

}
#desafio .fila .proyecto img{
    width: 100%;
    height: auto;
    margin: 5px;
    object-fit: cover;
    transition: .5s;
}
#desafio .fila .proyecto:hover img {
    filter: grayscale(0);
}

#desafio .fila .proyecto .info {
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0, .8);
    color: white;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;

}

#desafio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}

/* SECCION RESPONSIVE */

@media screen and (max-width:800px) {

    .redes {
        display: none;
    }

    nav {
        display: none;
    }

    nav .responsive{
        display: block;
        background-color: rgba(0,0,0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }

    nav .responsive ul {
        display: block !important;
        text-align: center;
    }

    nav .responsive ul li {
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }

}